body {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    
}
h1{
    margin-top: 50px;
    color: black;
    font-size: 25px;
    text-align: center;
}
.controles{
    display: flex;
    justify-content: center;
}
button{
    color: rgb(75,75,75);
    margin: 0 20px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.559);
}

.formBuscar{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: white;
    text-align: center;
}

table{
    color: black;
    background-color: rgba(255, 255, 255, 0.582);    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 10px;
}
td{
    border-top: 1px solid rgb(57,57,57);

}
td,th{
    
    width: 25%;
    text-align: center;
    padding: 10px 20px;
}

 th:nth-child(1),td:nth-child(1){
    border-right: 1px solid rgb(57,57,57);
}
form{
    background-color: rgba(255, 255, 255, 0.12);
    width: fit-content;
    border: 1px solid rgb(73,73,73);
    padding: 30px;
    margin: 50px auto;
    box-shadow: 2px 0px 19px 2px rgba(0,0,0,0.75);

}
label{
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    align-self: baseline;
}
input{
    width: 250px;
    background-color: rgba(255, 255, 255, 0.608);
    border: none;
    border-radius: 4px;
    height: 30px;
    color: rgb(8,8,8)
}

form button{
    margin-top: 20px;
}
.inputContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    margin: 20px auto;
}
.fa-trash-can{
    color: red;
    cursor: pointer;
}

.fa-edit{
    color: green;
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: flex;
    flex-direction: column;
}